In [1]:
cd

C:\Users\hp

In [3]:
import numpy as np
import pandas as pd
from tensorflow.keras.preprocessing.image import ImageDataGenerator, load_img
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import random
import cv2
import os
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Dropout, Flatten, Dense, Activation, BatchNormalization

In [55]:
from tensorflow import keras
model = keras.models.load_model('Desktop/model2.h5')

In [12]:
from keras import models

In [15]:
cd ..

C:\Users\hp

In [56]:
test_filenames = os.listdir('C:\\Users\\hp\\Desktop\\fungiclef2022\\test')
test_df=pd.DataFrame({
    'filename':test_filenames
})

In [57]:
total_test=test_df.shape[0]
print(total_test)

118676

In [58]:
test_datagen=ImageDataGenerator(rescale=1./255)
batch_size=100

test_generator=test_datagen.flow_from_dataframe(
    test_df,
    'C:\\Users\\hp\\Desktop\\fungiclef2022\\test',
    x_col='filename',
    y_col=None,
    class_mode=None,
    target_size=(150,150),
    batch_size=batch_size,
    shuffle=False
)

Found 118676 validated image filenames.

In [59]:
predict=model.predict(test_generator,steps=np.ceil(total_test/batch_size))
print(len(predict))
print(predict)

118676
[[6.4987654e-04 9.3613303e-04 3.0619486e-08 ... 8.5804568e-05
  4.3323776e-06 2.5874103e-04]
 [2.2646184e-03 5.5000850e-04 4.5130593e-05 ... 1.2496336e-04
  7.0540358e-05 3.2567102e-04]
 [3.5109682e-05 1.5221229e-04 2.2551849e-07 ... 2.3148979e-04
  3.7356813e-06 1.8691007e-04]
 ...
 [1.1986231e-03 3.3543768e-06 1.0472056e-04 ... 8.4953266e-05
  1.3598597e-04 2.8639394e-04]
 [8.6868461e-04 1.1508448e-05 2.1141562e-04 ... 1.2588713e-06
  3.2778764e-05 2.4827602e-06]
 [1.6137058e-03 1.7067462e-02 2.5226443e-06 ... 9.7849181e-05
  1.2023265e-05 2.0596903e-04]]

In [60]:
test_df['category']=np.argmax(predict,axis=-1)
print(test_df['category'][0:3])

0     528
1     924
2    1015
Name: category, dtype: int64

In [61]:
test_df

                filename  category
0       0-3008822340.jpg       528
1       0-3008822343.jpg       924
2       0-3008822344.jpg      1015
3       0-3008822345.jpg       209
4       0-3008822346.jpg      1086
...                  ...       ...
118671  9-3424490325.jpg       654
118672  9-3424493304.jpg       209
118673  9-3424494314.jpg       209
118674  9-3424495334.jpg      1045
118675  9-3429075304.jpg      1037

[118676 rows x 2 columns]

In [62]:
ObservationId=[]
for i in range(118676):
    ObservationId.append(test_filenames[i][2:12])

In [63]:
sub=pd.DataFrame({
    'ObservationId':ObservationId,
    'ClassId':test_df['category'],
})

In [64]:
sub

       ObservationId  ClassId
0         3008822340      528
1         3008822343      924
2         3008822344     1015
3         3008822345      209
4         3008822346     1086
...              ...      ...
118671    3424490325      654
118672    3424493304      209
118673    3424494314      209
118674    3424495334     1045
118675    3429075304     1037

[118676 rows x 2 columns]

In [65]:
sub.to_csv('Desktop\sub3.csv',index=False)